<p>
    <b>Remaining unprocessed: {{unprocessed}}</b>
</p>
<p>
    <b>Processed</b>: {{tweet.processed}}<br>
    <b>Favorites</b>: {{tweet.favorite_count}}<br>
    <b>Text</b>: <a href="https://twitter.com/JnBrymn/status/{{tweet.slack_id}}">(link)</a> {{tweet.full_text}}<br>
</p>
<form method="post">
{% csrf_token %}
{% for topic in topics %}
    <input type="checkbox" id="{{ topic.short_name }}" name="{{ topic.short_name }}" value="true"  {% if topic.short_name in checked %} checked {% else %} '' {% endif %}>
    <label for="{{ topic.short_name }}">{{ topic.short_name }} ({{ topic.num }},♡️{{ topic.favs }}): {{ topic.description }}</label><br>
{% endfor %}
<input type="submit" value="Submit">
</form>